
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #4ECDC4;
      --secondary-color: #588C7E;
    
  --font-rubik: var(--font-rubik);

  --navbar-height: 70px;
  --transition-speed: 0.3s;

  --font-size-base: 1rem;

  --shadow-neumorphic: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.8);
  --shadow-neumorphic-hover: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.8);

  --shadow-soft: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
    }
  